.container {
  font-family: "Arvo", serif; }

.header {
  color: #FFFFFF;
  background-color: #EEEEEE;
  color: #4B494E;
  font-family: "Arvo", serif; }

.top-image {
  border: 1px #555555;
  margin: 30px 0;
  background-size: cover;
  position: relative; }

.forced-space {
  position: relative;
  margin-bottom: 0px;
  z-index: -1;
  background-color: #EEEEEE;
  text-align: center;
  width: 100%; }

.answer-container {
  position: relative;
  width: 100%;
  font-family: "Arvo", serif; }

h2 {
  text-align: center;
  position: relative;
  font-family: "Arvo", serif;
  color: #555555; }

h2.background {
  position: relative;
  z-index: -1; }
  h2.background:before {
    border-top: 2px solid #555555;
    content: "";
    margin: 0 auto;
    /* this centers the line to the full width specified */
    position: absolute;
    /* positioning must be absolute here, and relative positioning must be applied to the parent */
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 95%;
    z-index: -1; }
    h2.background:before span {
      /* to hide the lines from behind the text, you have to set the background color the same as the container */
      background: #999999;
      padding: 0 15px; }

p {
  padding: 5px;
  position: relative;
  z-index: -1;
  text-align: center;
  font-family: "Arvo", serif;
  color: #555555; }

footer {
  text-align: center;
  background-color: #4B494E;
  margin: 0;
  padding: 25px;
  font-family: "Arvo", serif;
  color: #999999; }
